.p-tooltip.p-component {
  z-index: 3;
}

.item-row {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ddd;
  border-top: none;

  &:hover {
     //background-color: #eee;
    //transition: background-color .2s;
    z-index: 2;
    box-shadow: 0 2px 4px #aaa;
    border: 1px solid #eee;
    border-top: none;
    cursor: pointer;
  }

  .item-content {
    flex: 1;
    max-width: 600px;
  }

  .item-texto {
    font-size: 14px;
    font-weight: bold;
    color: rgb(52, 108, 176);
  }
  .item-descricao {
    font-size: 12px;
    color: #000;
  }
  .item-dep {
    flex: 1;
    font-size: 12px;
    margin-right: 10px;
    max-width: 200px;
  }
  .item-detalhe {
    font-size: 12px;
  }
  .item-children {
    &>* {
      //margin-left: 2px;
    }
  }
  button.p-button {
    background-color: #fff;
    border: 1px solid #fff;
  }
}