@import "~primereact/resources/themes/nova-light/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";

@import "~roboto-fontface/css/roboto/roboto-fontface.css";

.divisor-vertical {
  border-left: 1px solid #ccc;
  margin: 14px 8px;
  width: 1px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;

  ul, li, h1, h2, h3 {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #444;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 4px 0px #ccc;

    .logo {
      display: flex;
      align-items: center;
      font-family: Roboto;
      font-weight: 100;
      img {
        margin: 8px;
        width: 32px;
        height: 32px;
      }
      h1 {
        font-size: 24px;
      }
    }

    .titulo-app {
      display: flex;
      align-items: center;
      font-size: 24px;
    }

    .perfil {
      position: relative;
      padding: 10px;
      transition: background-color .2s;

      &:hover {
        background-color: #eee;
        transition: background-color .2s;
      }

      .dados {
        display: flex;
        font-size: 12px;
        align-items: center;
        margin-right: 4px;
        img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin-right: 4px;
        }
        &>div {
          text-align: left;
        }
        .nome {
          font-weight: bold;
        }
        i {
          font-size: 10px;
          margin-right: 4px;
        }
      }

      ul {
        position: absolute;
        display: none;
        top: 100%;
        right: 0;
        min-width: 100%;
        border: 1px solid #ccc;
        border-bottom: none;
        font-size: 14px;
        box-shadow: 0 1px 1px #aaa;
        z-index: 5;
      }
      li {
        display: inline-block;
        padding: 8px;
        left: 0;
        width: 100%;
        cursor: pointer;
        transition: background-color .2s;
        background-color: #fff;
        border-bottom: 1px solid #ccc;

        &:hover {
          background-color: #eee;
          transition: background-color .2s;
        }
      }
      li, li a {
        color: #000;
      }
      li a {
        display: flex;
        align-items: center;
      }
    }
    .perfil:hover {
      ul {
        display: block;
      }
    }
  }
}