@import "~primereact/resources/themes/nova-light/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";

@import "~roboto-fontface/css/roboto/roboto-fontface.css";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;

  ul, li, h1, h2, h3 {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #main-nav {
    display: flex;
    justify-content: space-between;
    //background-color: #23569c;
    background-color: #fff;
    color: #444;
    border-bottom: 1px solid #ccc;
    padding: 10px;

    .logo {
      display: flex;
      img {
        width: 32px;
        height: 32px;
      }
    }

    .perfil {
      position: relative;
      width: 32px;
      height: 32px;
      text-align: center;

      &:hover {
        background-color: #204987;
      }

      ul {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
      }
      li {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        transition: background-color .2s;

        &:hover {
          background-color: #f8f8f8;
          transition: background-color .2s;
        }
      }
    }
    .perfil:hover {
      ul {
        display: block;
      }
    }
  }
}