.papeis {
  width: 300px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;

  .lista-papeis {
    height: calc(100vh - 160px);
    overflow-y: auto;
  }

  i {
    display: inline-block;
    font-size: 14px;
    margin-left: 2px;
  }
  .papel {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;

    &>div:first-of-type {
      flex: 1;
    }

    &.ativo {
      color: rgb(52, 108, 176) !important;
      background-color: #e8e8e8;
    }

    &:hover {
      background-color: #e8e8e8;
      transition: background-color .4s;
      cursor: pointer;
    }

    .nome {
      display: flex;
      font-size: 14px;
      align-items: center;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .descricao {
      font-size: 12px;
      font-weight: normal;
      color: #222;
      padding-left: 15px;
    }
  }

  .papel-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(52, 108, 176);
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    button {
      border-radius: 100%;
    }
  }
}
.permissoes {
  flex: 1;
  font-family: Roboto;

  header {
    display: flex;
    font-weight: bold;
    &>div {
      line-height: 24px;
      flex: 1;
    }
  }

  .permissao {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px;

    .label {
      font-size: 12px;
    }

    &>div {
      line-height: 24px;
      flex: 1;
    }
  }

  .permissao-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    color: rgb(52, 108, 176);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    button {
      border-radius: 100%;
    }
  }
}
